body {
  font-family: 'Roboto', sans-serif;
  background-color: #f4f5f9;
}

.topbar {
  padding-top: 15px;
  font-size: 25px;
  background-color: #000;
  color: #fff;
}

.topbar i {
  margin-left: 10px;
}

.card-title {
  margin-top: 20px;
  height: 50px;
  font-weight: bold;
}

.card-image {
  height: 200px;
  width: 100%;
  background-size: cover;
}

.card-members {
  height: 40px;
}
